<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>表白</title>
<!--引入开始-->
 
<link rel="stylesheet" type="text/css" href="allCss/style.css">
<link rel="stylesheet" type="text/css" href="allJs/bootstrap/3.3.6/css/bootstrap.css">
<script type="text/javascript" src="allJs/jquery/2.1.4/jquery.js"></script>
<script type="text/javascript" src="allJs/bootstrap/3.3.6/js/bootstrap.js"></script>

<!--引入结束-->
</head>  
	<body oncontextmenu="return false" ondragstart="return false" style="zoom: 1;">
		<!-- 代码开始 -->
		<div id="loginbody">
		    <div id="background" style="width:100%;height:100%;background:black;">
		    	<div id="login" style="box-sizing:border-box;
				border-radius: 20px;
				transition: box-shadow linear 1s;
				position: absolute;top:50%;left:50%;width:400px;height:300px;margin-left:-200px;margin-top:-150px">

					<form class="col-md-12 login-form">
						<div class="col-md-12 form-group">
							<label class="col-md-4" >登陆名</label>
							<div class="col-md-8">
								<input type="text" class="form-control" id="name"
									   style="background-color: #000000;border-radius:10px solid red;"
								   placeholder="请输入名称">
						    </div>
						</div>
						<div class="col-md-12 form-group">
							<label class="col-md-4">密码</label>
							<div class="col-md-8">
								<input type="password" class="form-control" id="password"
									   style="background-color: #000000;border-radius:10px solid red;"
									   placeholder="请输入密码">
							</div>
						</div>
						<button type="submit" class="loginButton">登录</button>
					</form>
				</div>
		    </div>
		</div>
		<!-- 代码结束 -->
		<script type="text/javascript">
			var color = ["#c70739", "#c72751", "#eb800e", "#d4eb0e"];
			var colorid = 0; 
			var add = true; 
			var changeColor = function() {
				$("#login").css("box-shadow", '0 0 40px' + color[colorid]);
				//$("#background").css("background-image", 'url(allImages/0' + colorid +".jpg");
				if (colorid == 3) {
					add = false;
					colorid --;
				} else if (colorid == 0) {
					add = true;
					colorid ++;
				} else {
					if (add) {
						colorid ++;
					} else {
						colorid --;
					}
				}
			}
			setInterval(changeColor,1000);
		</script>
		 
	 
	</body>
</html>